.lie {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__copy {
    width:80%;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    @media screen and (max-width: 800px) {
      font-size: 30px;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }
  
  }
  &__tone{
    color: var(--theme-tone);
  }
  &__role{
    color:var(--theme-role);
  }

  &__scene{
    color:var(--theme-scene);
  }
  &__actions{
    margin-bottom:var(--spacing-medium);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:80%;
  }
  &__button {
    &--tone{
      border-color: var(--theme-tone);
      color: var(--theme-tone);
    }
    &--role{
      border-color: var(--theme-role);
      color: var(--theme-role);
    }
    &--scene{
      border-color: var(--theme-scene);
      color: var(--theme-scene);
    }
  }
}
