.lie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__wrapper {
    flex: 1;
  }
  &__copy {
    width:80%;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    background: -webkit-linear-gradient(white, var(--theme-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__tone{
    color: var(--theme-highlight-1);
    background: -webkit-linear-gradient(var(--theme-tone), var(--theme-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__role{
    color:var(--theme-highlight-2);
    background: -webkit-linear-gradient(var(--theme-role), var(--theme-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__scene{
    color:var(--theme-highlight-3);
    background: -webkit-linear-gradient(var(--theme-scene), var(--theme-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__actions{
    margin-top:var(--spacing-medium);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:80%;
  }
  &__button {
    display: block;
    padding: var(--spacing-small);
    margin: var(--spacing-small);
    text-transform: uppercase;
    min-width: 100px;
    outline: none;
    border: none;
    border-radius: 5px;
    &--tone{
      background: -webkit-linear-gradient(var(--theme-tone), var(--theme-dark));
    }
    &--role{
      background-color: var(--theme-role);
    }
    &--scene{
      background-color: var(--theme-scene);
    }
  }
}
