.lie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__wrapper {
    flex: 1;
  }
  &__copy {
    width:80%;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    background: -webkit-linear-gradient(white, var(--theme-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__tone{
    color: var(--theme-highlight-1);
    background: -webkit-linear-gradient(var(--theme-tone), var(--theme-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__role{
    color:var(--theme-highlight-2);
    background: -webkit-linear-gradient(var(--theme-role), var(--theme-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__scene{
    color:var(--theme-highlight-3);
    background: -webkit-linear-gradient(var(--theme-scene), var(--theme-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__actions{
    margin-top:var(--spacing-medium);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:80%;
  }
  &__button {
    &--tone{
      border-color: var(--theme-tone);
      color: var(--theme-tone);
    }
    &--role{
      border-color: var(--theme-role);
      color: var(--theme-role);
    }
    &--scene{
      border-color: var(--theme-scene);
      color: var(--theme-scene);
    }
  }
}
