.liebrary {
    color:var(--theme-light);
    padding: var(--spacing-small) var(--spacing-large);  
    width:50%;
    max-width: 800px;
    min-width:200px;
    //accounts for fixed footer
    padding-bottom: 70px;
    &__title {
        margin-bottom:var(--spacing-small);
        &--tones {
            color:var(--theme-tone)
        }
        &--roles {
            color:var(--theme-role)
        }
        &--scenes {
            color:var(--theme-scene)
        }
    }
    &__title-bar {
        margin-bottom: var(--spacing-small);
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid;
        width:100%;
        &--tones{
            border-color: var(--theme-tone);
        }
        &--roles{
            border-color: var(--theme-role);
        }
        &--scenes{
            border-color: var(--theme-scene);
        }
    }
    &__button {
        margin-right:0;
        margin-bottom: 0;
        &--tones{
            color: var(--theme-tone);
            border-color: var(--theme-tone);
        }
        &--roles{
            color: var(--theme-role);
            border-color: var(--theme-role);
        }
        &--scenes{
            color: var(--theme-scene);
            border-color: var(--theme-scene);
        }
    }
    &__list {
        margin-top: 0;
        list-style-type: none;
        padding-left:0;
    }
    &__detail {
        display:flex;
        align-items: center;
        margin-bottom: var(--spacing-small);
        &-text{
            margin-right: var(--spacing-small);
        }
        .liebrary__button {
            padding: 0px 2px;
            min-width: 0;
            margin: 0;
            flex-shrink: 0;
        }
    }
}