.header {
  padding: 0 var(--spacing-small);
  display: flex;
  align-items: center;
  font-size: 1.5em;
  max-width:1200px;
  margin: 0 auto;
  &__wrapper {
    width:100%;
    background-color: var(--palette-black);
  }


  &__logo {
      fill: var(--theme-light);
      margin: 0 var(--spacing-small);
  }

  &__title {
    color: var(--theme-light);

  }
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  @media  only screen and (max-width:350px) {
    justify-content: center;
  }
}