.header {
  padding: var(--spacing-small);
  background-color: var(--palette-black);

  &__logo {
      fill: var(--theme-light);
      margin: 0 var(--spacing-small);
  }
  &__title {
    color: var(--theme-light);
    @media  only screen and (max-width:600px) {
      font-size: 1.1em;
      
    }
  }
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}