@import "./color-library.scss";
@import "./spacing.scss";

//Elements
@import "./components/button/button.scss";

//Components
@import "./components/footer/footer.scss";
@import "./components/header/header.scss";
@import "./components/lie/lie.scss";
@import "./components/liebrary/liebrary.scss";
@import "./components/modal/modal.scss";

.app {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  flex-direction: column;
}
.content {
  &__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: auto;
    //accounts for fixed footer
    padding-bottom: 70px;
    @media only screen and (max-width: 350px) {
      padding-bottom: 130px;
    }
  }
}
