
:root {
    --palette-black: black;
    --palette-red: #ef476f;
    --palette-orange: #FF9800; 
    --palette-yellow:  #FFEC19;
    --palette-grey: #38495a;
    --palette-white: #fff;
    --palette-green: #06d6a0;
    --palette-blue: #118ab2;


    --theme-light: var(--palette-white);
    --theme-dark: var(--palette-grey);
    --theme-tone: var(--palette-red);
    --theme-role: var(--palette-green);
    --theme-scene: var(--palette-blue);
  }