
:root {
    --palette-black: black;
    --palette-red: #F6412D;
    --palette-orange: #FF9800; 
    --palette-yellow:  #FFEC19;
    --palette-grey: #38495a;
    --theme-dark: var(--palette-grey);
    --theme-tone: var(--palette-red);
    --theme-role: var(--palette-orange);
    --theme-scene: var(--palette-yellow);
  }